.hyperliquid {
  --tw-color-primary-50: 239 254 249;
  --tw-color-primary-100: 201 254 241;
  --tw-color-primary-200: 152 252 228;
  --tw-color-primary-300: 85 243 211;
  --tw-color-primary-400: 34 223 190;
  --tw-color-primary-500: 10 194 165;
  --tw-color-primary-600: 10 194 165;
  --tw-color-primary-700: 9 124 110;
  --tw-color-primary-800: 12 99 89;
  --tw-color-primary-900: 15 82 74;
  --tw-color-primary-950: 1 50 47;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f8fafc */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #f1f5f9 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #e2e8f0 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #cbd5e1 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #94a3b8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #64748b */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #475569 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #334155 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e293b */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0f172a */
  --color-primary-950: rgb(var(--tw-color-primary-950)); /* #020617 */
}
